.costs-list {
    padding: 1rem;
    background-color: #aac4d1;
    margin: 2rem auto;
    width: 70rem;
    max-width: 95%;
    border-radius: 15px;
}

.empty {
    text-align: center;
    font-size: 1.3rem;
    color: #f7f0c8;
}